altgraph==0.17.5
anyio==4.9.0
certifi==2025.4.26
httpx==0.28.1
idna==3.10
sniffio==1.3.1
supabase-py==2.13.0

et_xmlfile==2.0.0
greenlet==3.3.0
macholib==1.16.4
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
playwright==1.57.0
pyee==13.0.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.3
